// COLORS
$color-primary: #9FC0FB;
$color-primary-light: #B8C9E0;
$color-primary-dark: #90ACD1;

$color-secondary-light: #EF849A;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #F9F9FF;
$color-tertiary-dark: #F2F4F9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
